fastapi
uvicorn[standard]
python-multipart
python-dotenv
torch
transformers>=5.5.3
accelerate
bitsandbytes
Pillow
easyocr
google-genai
groq
timm
einops

# Video/Audio processing
faster-whisper
moviepy
ultralytics
ffmpeg-python

# PDF processing
PyPDF2
pytesseract
PyMuPDF